<div class="container">
    <form>
        <div class="card">
            <div class="card-header card-header-view">新品提報 - 審核
                <div class="card-header-info d-inline">
                    <label>供應商：<span class="badge badge-warning">金財通商務科技(股)</span></label>
                    <label>通路：<span class="badge badge-warning">美廉社</span></label>
                    <label>識別條碼：<span class="badge badge-warning">1234567890233</span></label>
                </div>
            </div>
            <div class="card-body">
                <div id="divData">
                    <div class="mb-1">
                        <button class="btn btn-info" data-toggle="collapse" data-target="#mainData" role="button"
                            aria-expanded="false" aria-controls="mainData">
                            新品提報主檔
                        </button>
                        <button class="btn btn-success ml-2" data-toggle="collapse" data-target="#channelData" role="button"
                            aria-expanded="false" aria-controls="channelData">
                            通路價格
                        </button>
                    </div>
                    <!--mainData-->
                    <div class="collapse show" id="mainData" data-parent="#divData">
                        <nav class="nav-justified">
                            <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab"
                                    aria-controls="pop1" aria-selected="true">廠商資料</a>
                                <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab"
                                    aria-controls="pop2" aria-selected="false">商品資料</a>
                                <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab"
                                    aria-controls="pop3" aria-selected="false">船務相關</a>
                                <a class="nav-item nav-link" id="pop4-tab" data-toggle="tab" href="#pop4" role="tab"
                                    aria-controls="pop4" aria-selected="false">單位條碼</a>
                                <a class="nav-item nav-link" id="pop5-tab" data-toggle="tab" href="#pop5" role="tab"
                                    aria-controls="pop5" aria-selected="false">市面通路</a>
                                <a class="nav-item nav-link" id="pop6-tab" data-toggle="tab" href="#pop6" role="tab"
                                    aria-controls="pop6" aria-selected="false">其他資訊</a>
                                <a class="nav-item nav-link" id="pop7-tab" data-toggle="tab" href="#pop7" role="tab"
                                    aria-controls="pop7" aria-selected="false">商品附件</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
                                <div class="pt-3"></div>
                                <!--供應商資料-->
                                供應商資料
                            </div>
                            <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
                                <div class="pt-3"></div>
                                <!--商品資料-->
                                商品資料
                            </div>
                            <div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
                                <div class="pt-3"></div>
                                船務相關
                            </div>
                            <div class="tab-pane fade" id="pop4" role="tabpanel" aria-labelledby="pop4-tab">
                                <div class="pt-3"></div>
                                <!--單位尺寸-->
                                單位尺寸
                                <!--單位尺寸-->
                            </div>
                            <div class="tab-pane fade" id="pop5" role="tabpanel" aria-labelledby="pop5-tab">
                                <!--市面通路-->
                                <div class="pt-3"></div>
                                市面通路
                                <!--市面通路-->
                            </div>
                        </div>
                    </div>
                    <!--mainData-->
                    <!--channelData-->
                    <div class="collapse" id="channelData" data-parent="#divData">
                        <nav class="nav-justified">
                            <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="tab-channel" data-toggle="tab" href="#tab-channel"
                                    role="tab" aria-controls="tab-channel" aria-selected="true">通路價格</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="tab-channel" role="tabpanel" aria-labelledby="tab-channel">
                                <div class="pt-3"></div>
                                通路價格
                            </div>
                        </div>
                    </div>
                    <!--channelData-->
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header card-header-sign">簽核歷程
                <div class="card-header-info d-inline">
                    <label>目前狀態：<span class="badge badge-warning">家購人員簽核中</span></label>
                </div>
            </div>
            <div class="class-body">
                <div class="mx-5 my-3">
                    <table class="table table-bordered table-sm table-sign table-hover">
                        　 <tr>
                            　　 <th class="td-sign">時間</th>
                            　　 <th class="td-sign">使用者</th>
                            　　 <th class="td-sign">簽核動作</th>
                            　　 <th class="td-sign">簽核備註</th>
                            　 </tr>
                        　 <tr>
                            　　 <td>2018/12/20 11:12:24</td>
                            　　 <td>金財通商務(股)</td>
                            　　 <td>送出審核</td>
                            　　 <td></td>
                            　 </tr>
                        <tr>
                            　　 <td>2018/12/21 12:02:20</td>
                            　　 <td>張無忌</td>
                            　　 <td>退回</td>
                            　　 <td>商品名稱錯誤</td>
                            　 </tr>
                        <tr>
                            　　 <td>2018/12/21 16:56:10</td>
                            　　 <td>金財通商務(股)</td>
                            　　 <td>退件重送</td>
                            　　 <td></td>
                            　 </tr>
                        <tr>
                            　　 <td>2018/12/21 17:08:33</td>
                            　　 <td>張無忌</td>
                            　　 <td>核准</td>
                            　　 <td></td>
                            　 </tr>
                        <tr>
                            　　 <td>2018/12/22 09:45:13</td>
                            　　 <td>張三豐</td>
                            　　 <td>核准</td>
                            　　 <td></td>
                            　 </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">單據簽核</div>
            <div class="card-body">
                <div class="form-row align-items-center">
                    <label class="col-2 col-form-label text-right">簽核動作：</label>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="核准" styleClass="form-check-input"
                                labelStyleClass="form-check-label"></p-radioButton>
                        </div>
                        <div class="form-check form-check-inline">
                            <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="退回" styleClass="form-check-input"
                                labelStyleClass="form-check-label"></p-radioButton>
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <label class="col-2 col-form-label text-right">備註：</label>
                    <div class="col-4">
                        <textarea class="form-control form-control-sm"></textarea>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <label class="col-2 col-form-label text-right">下一關人員：</label>
                    <div class="col-auto">
                        <select class="form-control form-control-sm">
                            <option>請選擇</option>
                            <option>採購經理</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-check-inline">
                            <p-checkbox name="groupname" value="val1" label="結束流程" styleClass="form-check-input"
                                labelStyleClass="form-check-label"></p-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-row justify-content-end align-items-center">
                    <button type="submit" value="儲存" class="btn btn-primary mr-2">送出簽核結果</button>
                    <button type="submit" value="儲存" class="btn btn-danger mr-2">退件/作廢重送</button>
                    <button type="submit" value="儲存" class="btn btn-danger mr-2">進行編輯</button>
                    <button type="button" class="btn btn-outline-secondary">回上一頁</button>
                </div>
            </div>
        </div>
    </form>
</div>