<div class="container">
  <form>
    <!--通路及國際條碼-->
    <h3>輸入通路及國際條碼</h3>
    <div class="card">
      <div class="card-header">新品提報-通路及識別碼</div>
      <div class="card-body">
        <div class="form-row align-items-center">
          <label class="col-md-3 col-form-label text-right">供應商編號</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
        </div>
        <div class="form-row align-items-center">
          <label class="col-md-3 col-form-label text-right">通路</label>
          <div class="col-md-2">
            <select class="form-control form-control-sm">
              <option>請選擇</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-md-3">
            <select class="form-control form-control-sm pull-right" style="width:150px;">
              <option>國際條碼/店內碼</option>
              <option>供應商貨號</option>
            </select>
          </div>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <button type="button" class="btn btn-primary mr-2">下一步</button>
          <button type="button" class="btn btn-outline-secondary">回上一頁</button>
        </div>
      </div>

    </div>
    <!--通路及國際條碼-->
    <br>
    <br>
    <h3>新增頁面-家購人員</h3>
    <div class="card">
      <div class="card-header">新品提報 - 新增
        <div class="card-header-info d-inline">
          <label><span class="badge badge-warning">金財通商務科技(股)</span></label>
          <label><span class="badge badge-warning">美廉社</span></label>
          <label>條碼：<span class="badge badge-warning">1234567890233</span></label>
          <label>供應商貨號：<span class="badge badge-warning">8821345</span></label>
        </div>
      </div>
      <div class="card-body">
        <div id="divData">
          <div class="mb-1">
            <button class="btn btn-info" data-toggle="collapse" data-target="#mainData" role="button" aria-expanded="false"
              aria-controls="mainData">
              新品提報主檔
            </button>
            <button class="btn btn-success ml-2" data-toggle="collapse" data-target="#channelData" role="button"
              aria-expanded="false" aria-controls="channelData">
              通路價格
            </button>
          </div>
          <!--mainData-->
          <div class="collapse show" id="mainData" data-parent="#divData">
            <nav class="nav-justified">
              <div class="nav nav-tabs " id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab"
                  aria-controls="pop1" aria-selected="true">廠商資料</a>
                <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2"
                  aria-selected="false">商品資料</a>
                <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3"
                  aria-selected="false">船務相關</a>
                <a class="nav-item nav-link" id="pop4-tab" data-toggle="tab" href="#pop4" role="tab" aria-controls="pop4"
                  aria-selected="false">單位條碼</a>
                <a class="nav-item nav-link" id="pop5-tab" data-toggle="tab" href="#pop5" role="tab" aria-controls="pop5"
                  aria-selected="false">市面通路</a>
                <a class="nav-item nav-link" id="pop6-tab" data-toggle="tab" href="#pop6" role="tab" aria-controls="pop6"
                  aria-selected="false">其他資訊</a>
                <a class="nav-item nav-link" id="pop7-tab" data-toggle="tab" href="#pop7" role="tab" aria-controls="pop7"
                  aria-selected="false">商品附件</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
                <div class="pt-3"></div>
                <!--供應商資料-->
                <div class="bg-secondary text-white rounded px-3 py-2">
                  <div class="row">
                    <div class="col">
                      供應商：12656444 金財通商務科技(股)
                    </div>
                    <div class="col">
                      統一編號：12656354
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col">
                      聯絡人：吳小美 02-22571234
                    </div>
                    <div class="col">
                      E-Mail：abc@bankpro.com.tw
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>供應商貨號</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>採購單位</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>採購別</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="自營" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="寄售" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>退貨協議</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="可以退貨" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="不可退貨" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>最小採購量</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>最大採購量</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>捨入設定檔</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>新品優惠合約</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="有" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="無" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>超量交貨允差%</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>超收無限制</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="是" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="否" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>固定供應商</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="是" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="否" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>固定供應商生效日</label>
                    <p-calendar formControlName="fixedSupEffDate" dateFormat="yy/mm/dd" inputStyleClass="form-control form-control-sm"
                      [inputStyle]="{'width': '100%'}" [style]="{'width':'100%'}"></p-calendar>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>採購淨價</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>價格單位</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>採購幣別</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
                <div class="pt-3"></div>
                <!--商品資料-->
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>商品名稱</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-4">
                    <label>規格</label>
                    <input class="form-control form-control-sm">
                  </div>

                  <div class="form-group col-md-4">
                    <label>發票顯示名稱</label>
                    <input class="form-control form-control-sm">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>原產地國家</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>原產地地區</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>配送方式</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="廠商自送" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="物流配送" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>課稅別</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="應稅" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="免稅" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>採購群組</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>商品類型</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                      <option>Z004 營運用品（備品）</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>庫存單位</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>高單價商品</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="是" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="否" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>門市最小撥量</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>門市最大撥量</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>自動採購別</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>商品屬性</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>商品成分</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>材質細碼</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>商品群組</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>歸屬部門</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>保存期限</label>
                    <input class="form-control form-control-sm">
                  </div>

                  <div class="form-group col-md-3">
                    <label>有效期限</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>驗收期限</label>
                    <input class="form-control form-control-sm">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
                <div class="pt-3"></div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>商標</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>濃度</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>克</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>菸酒稅</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="有" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="無" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>進口材積</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>材積單位</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>健康捐</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="有" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="無" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>健康捐金額</label>
                    <input class="form-control form-control-sm">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>進口前置天數</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>進口酒稅類別</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>進口代號 CCC Code</label>
                    <input class="form-control form-control-sm">
                  </div>

                </div>
              </div>
              <div class="tab-pane fade" id="pop4" role="tabpanel" aria-labelledby="pop4-tab">
                <div class="pt-3"></div>
                <!--單位尺寸-->
                <h5 class="text-warning text-underline">單位尺寸
                  <small><a href="#" class="badge badge-secondary pull-right">增加 <i class="fa fa-plus"></i></a></small>
                </h5>
                <div class="form-row">
                  <div class="col">
                    <label>商品單位</label>
                  </div>
                  <div class="col">
                    <label>換算比</label>
                  </div>
                  <div class="col">
                    <label>長</label>
                  </div>
                  <div class="col">
                    <label>寬</label>
                  </div>
                  <div class="col">
                    <label>高</label>
                  </div>
                  <div class="col">
                    <label>長度單位</label>

                  </div>
                  <div class="col">
                    <label>重量</label>
                  </div>
                  <div class="col">
                    <label>重量單位</label>

                  </div>
                  <div class="col">
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col">
                    <select class="form-control form-control-sm" disabled>
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <!--<small><a href="#" class="badge badge-secondary ml-2">移除 <i class="fa fa-minus"></i></a></small>-->
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <small><a href="#" class="badge badge-secondary ml-2">移除 <i class="fa fa-minus"></i></a></small>
                  </div>
                </div>
                <hr>
                <h5 class="text-warning text-underline">國際條碼
                  <small><a href="#" class="badge badge-secondary pull-right">增加 <i class="fa fa-plus"></i></a></small>
                </h5>
                <div class="form-row">
                  <div class="col">
                    <label>商品單位</label>
                  </div>
                  <div class="col">
                    <label>國際條碼</label>
                  </div>
                  <div class="col">
                    <label>國際條碼類型</label>
                  </div>
                  <div class="col">
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col">
                    <select class="form-control form-control-sm" disabled>
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm" disabled>
                  </div>
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <!--<small><a href="#" class="badge badge-secondary ml-2">移除 <i class="fa fa-minus"></i></a></small>-->
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <small><a href="#" class="badge badge-secondary ml-2">移除 <i class="fa fa-minus"></i></a></small>
                  </div>
                </div>
                <!--單位尺寸-->
              </div>
              <div class="tab-pane fade" id="pop5" role="tabpanel" aria-labelledby="pop5-tab">
                <!--市面通路-->
                <div class="pt-3"></div>
                <h5 class="text-warning text-underline">市面通路
                  <small><a href="#" class="badge badge-secondary pull-right">增加 <i class="fa fa-plus"></i></a></small>
                </h5>
                <div class="form-row">
                  <div class="col">
                    <label>市面通路</label>
                  </div>
                  <div class="col">
                    <label>規格</label>
                  </div>
                  <div class="col">
                    <label>正常價</label>
                  </div>
                  <div class="col">
                    <label>最近DM日期</label>
                  </div>
                  <div class="col">
                    <label>最近DM售價</label>
                  </div>
                  <div class="col"></div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>家樂福</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <small><a href="#" class="badge badge-secondary ml-2">移除 <i class="fa fa-minus"></i></a></small>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>大潤發</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <small><a href="#" class="badge badge-secondary ml-2">移除 <i class="fa fa-minus"></i></a></small>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>愛買</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <small><a href="#" class="badge badge-secondary ml-2">移除 <i class="fa fa-minus"></i></a></small>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>全聯社</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <small><a href="#" class="badge badge-secondary ml-2">移除 <i class="fa fa-minus"></i></a></small>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>惠康</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <small><a href="#" class="badge badge-secondary ml-2">移除 <i class="fa fa-minus"></i></a></small>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col">
                    <select class="form-control form-control-sm">
                      <option>其他</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col">
                    <small><a href="#" class="badge badge-secondary ml-2">移除 <i class="fa fa-minus"></i></a></small>
                  </div>
                </div>
                <!--市面通路-->
              </div>
              <div class="tab-pane fade" id="pop6" role="tabpanel" aria-labelledby="pop6-tab">
                <div class="pt-3"></div>
                <!--其他資訊-->
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label>縱深</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-2">
                    <label>價卡出清標</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label>價卡顏色</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="白" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="黃" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label>價卡尺寸</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="大" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="小" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-2">
                    <label>主力商品</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="是" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="否" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label>即飲</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="是" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="否" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="form-row">

                  <div class="form-group col-md-2">
                    <label>磅標計價</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-8">
                    <label>磅標成份</label>
                    <input class="form-control form-control-sm">
                  </div>

                  <div class="form-group col-md-2">
                    <label>磅標效期</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="印" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                      <div class="form-check form-check-inline">
                        <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="不印" styleClass="form-check-input"
                          labelStyleClass="form-check-label"></p-radioButton>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>預計上市日期</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>預估銷售金額(月)</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>小分類毛利率</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>銷售台帳模組</label>
                    <input class="form-control form-control-sm">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>被取代商品品名</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>被取代品項平均未稅銷售額(月)
                    </label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>被取代品項毛利率</label>
                    <input class="form-control form-control-sm">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>商品特性介紹</label>
                    <textarea class="form-control form-control-sm"></textarea>
                  </div>
                  <div class="form-group col-md-6">
                    <label>上市條件說明</label>
                    <textarea class="form-control form-control-sm"></textarea>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pop7" role="tabpanel" aria-labelledby="pop7-tab">
                <div class="pt-3"></div>
                <!--商品附件-->
                <h5 class="text-warning text-underline">商品圖片(至少需上傳一張)
                </h5>
                <p-fileUpload #imageUpload multiple="multiple" accept="image/*" maxFileSize="10000000"
                  [showUploadButton]="false" chooseLabel="選擇檔案" cancelLabel="清除已選擇檔案" [previewWidth]="250">
                </p-fileUpload>
                <br>
                <h5 class="text-warning text-underline">檢附檢驗報告&成份營養表(需用印)
                </h5>
                <p-fileUpload #imageUpload multiple="multiple" accept="image/*" maxFileSize="10000000"
                  [showUploadButton]="false" chooseLabel="選擇檔案" cancelLabel="清除已選擇檔案" [previewWidth]="250">
                </p-fileUpload>
              </div>
            </div>
          </div>
          <!--mainData-->
          <!--channelData-->
          <div class="collapse" id="channelData" data-parent="#divData">

            <nav class="nav-justified">
              <div class="nav nav-tabs " id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="tab-channel" data-toggle="tab" href="#tab-channel" role="tab"
                  aria-controls="tab-channel" aria-selected="true">通路價格</a>

              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="tab-channel" role="tabpanel" aria-labelledby="tab-channel">
                <div class="pt-3"></div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>銷售組織</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>採購群組</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>商品等級</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form-group col-md-3">
                    <label>出清期限</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-3">
                    <label>出清折數</label>
                    <select class="form-control form-control-sm">
                      <option>請選擇</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="form-check-inline ml-2">
                      <p-checkbox name="groupname" value="val1" label="允許折扣" styleClass="form-check-input"
                        labelStyleClass="form-check-label"></p-checkbox>
                    </div>
                    <div class="form-check-inline ml-2">
                      <p-checkbox name="groupname" value="val1" label="允許強制變價" styleClass="form-check-input"
                        labelStyleClass="form-check-label"></p-checkbox>
                    </div>
                    <div class="form-check-inline ml-2">
                      <p-checkbox name="groupname" value="val1" label="允許累點" styleClass="form-check-input"
                        labelStyleClass="form-check-label"></p-checkbox>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label>建議促銷價</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-2">
                    <label>進價(未稅)</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-2">
                    <label>促進價</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-6">
                    <label>促進價期間</label>
                    <input class="form-control form-control-sm">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label>市價</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-2">
                    <label>市價毛利率</label>
                    <input class="form-control form-control-sm" disabled>
                  </div>
                  <div class="form-group col-md-2">
                    <label>售價</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-2">
                    <label>售價毛利率</label>
                    <input class="form-control form-control-sm" disabled>
                  </div>
                  <div class="form-group col-md-2">
                    <label>會員價</label>
                    <input class="form-control form-control-sm">
                  </div>
                  <div class="form-group col-md-2">
                    <label>會員價毛利率</label>
                    <input class="form-control form-control-sm" disabled>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--channelData-->
          <button type="button" class="btn btn-danger pull-right mt-2">資料暫存</button>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <label class="col-form-label">審核人員：</label>
          <div class="col-sm-auto mr-2">
            <select class="form-control form-control-sm">
              <option>請選擇</option>

            </select>
          </div>
          <button type="button" class="btn btn-primary mr-2">送出提報</button>
          <!--<div class="d-inline ml-4 mr-2"><input class="form-control form-control-sm" placeholder="退回供應商備註"></div>
          <button type="button" class="btn btn-secondary mr-2">退回供應商</button>-->
          <button type="button" class="btn btn-outline-secondary">回上一頁</button>
        </div>
      </div>
    </div>
  </form>
</div>