<div class="container">
  <form>
    <div class="card">
      <div class="card-header">商品異動申請-供應商</div>
      <div class="card-body">
        <nav class="nav-justified">
          <div class="nav nav-tabs " id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab"
              aria-controls="pop1" aria-selected="true">商品資料</a>
            <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2"
              aria-selected="false">單位尺寸設定</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
              <div class="pt-3"></div>
          </div>
          <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
              <div class="pt-3"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>