<div class="container">
  <form>
    <div class="card">
      <div class="card-header">商品明細
        <div class="card-header-info d-inline">
          <label><span class="badge badge-warning">1000769</span></label>
          <label><span class="badge badge-warning">亞曼紅葡萄酒</span></label>
        </div>
      </div>
      <div class="card-body">
        <nav class="nav-justified">
          <div class="nav nav-tabs " id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab"
              aria-controls="pop1" aria-selected="true">商品資料</a>
            <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2"
              aria-selected="false">供應商資料</a>
            <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3"
              aria-selected="false">通路資料</a>
            <a class="nav-item nav-link" id="pop4-tab" data-toggle="tab" href="#pop4" role="tab" aria-controls="pop4"
              aria-selected="false">價格資料</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <!--商品資料-->
          <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
            <div class="pt-3"></div>

          </div>
          <!--供應商資料-->
          <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
            <div class="pt-3"></div>

          </div>
          <!--供應商資料-->
          <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
            <div class="pt-3"></div>

          </div>
          <!--通路資料-->
          <div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
            <div class="pt-3"></div>

          </div>
          <!--價格資料-->
          <div class="tab-pane fade" id="pop4" role="tabpanel" aria-labelledby="pop4-tab">
            <div class="pt-3"></div>
            <h5 class="text-warning">目前價格</h5>
            <table class="table table-bordered table-sm table-view table-hover">
              <thead>
                <tr>
                  <th class="td-view" style="min-width:150px;">通路</th>
                  <th class="td-view" style="min-width:100px;">價格類別</th>
                  <th class="td-view" style="min-width:100px;">價格</th>
                  <th class="td-view">起迄日期</th>
                  <th class="td-view" style="min-width:100px;">毛利率</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-danger">美廉社</td>
                  <td class="text-danger">進價(未稅)</td>
                  <td class="text-danger">82.5</td>
                  <td class="text-danger">2019/01/01~2019/03/30</td>
                  <td></td>
                </tr>
                <tr>
                  <td>美廉社</td>
                  <td>市價</td>
                  <td>96</td>
                  <td>2019/01/01~2019/03/30</td>
                  <td>9.77%</td>
                </tr>
                <tr>
                  <td>美廉社</td>
                  <td>售價</td>
                  <td>93</td>
                  <td>2019/01/01~2019/03/30</td>
                  <td>6.85%</td>
                </tr>
                <tr>
                  <td>美廉社</td>
                  <td>會員價</td>
                  <td>92</td>
                  <td>2019/01/01~2019/03/30</td>
                  <td>5.84%</td>
                </tr>
                <tr>
                  <td class="text-danger">大美超市</td>
                  <td class="text-danger">進價(未稅)</td>
                  <td class="text-danger">82.5</td>
                  <td class="text-danger">2019/01/01~2019/03/30</td>
                  <td></td>
                </tr>
                <tr>
                  <td>大美超市</td>
                  <td>市價</td>
                  <td>96</td>
                  <td>2019/01/01~2019/03/30</td>
                  <td>9.77%</td>
                </tr>
                <tr>
                  <td>大美超市</td>
                  <td>售價</td>
                  <td>93</td>
                  <td>2019/01/01~2019/03/30</td>
                  <td>6.85%</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>