<div class="container">
  <form>
    <div class="card">
      <div class="card-header">商品異動申請檢視
        <div class="card-header-info d-inline">
          <label><span class="badge badge-warning">1000769</span></label>
          <label><span class="badge badge-warning">亞曼紅葡萄酒</span></label>
        </div>
      </div>
      <div class="card-body">
        <h5 class="text-warning">單位尺寸</h5>
        <table class="table table-bordered table-sm table-view table-hover">
          <tr>
            <td class="td-view" style="min-width:100px;">商品單位</td>
            <td class="td-view text-little py-0" style="min-width:200px;">與庫存單位換算比</td>
            <td class="td-view" style="min-width:80px;">長</td>
            <td class="td-view" style="min-width:80px;">寬</td>
            <td class="td-view" style="min-width:80px;">高</td>
            <td class="td-view" style="min-width:100px;">長度單位</td>
            <td class="td-view" style="min-width:100px;">重量</td>
            <td class="td-view">重量單位</td>
          </tr>
          <tr>
            <td>BOT 瓶</td>
            <td>1</td>
            <td>8</td>
            <td>9</td>
            <td>20
              <div class="text-before">(異動前: 18)</div>
            </td>
            <td>CM 公分</td>
            <td>0.3</td>
            <td>KG 公斤</td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>