<div class="container">
  <form>
    <div class="card">
      <div class="card-header">商品明細
        <div class="card-header-info d-inline">
          <label><span class="badge badge-warning">1000769</span></label>
          <label><span class="badge badge-warning">亞曼紅葡萄酒</span></label>
        </div>
      </div>
      <div class="card-body">
        <nav class="nav-justified">
          <div class="nav nav-tabs " id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab"
              aria-controls="pop1" aria-selected="true">商品資料</a>
            <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2"
              aria-selected="false">單位條碼</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
            <div class="pt-3"></div>
            <table class="table table-bordered table-sm table-view">
              <tr>
                <td class="td-view" style="min-width:100px;">商品編號</td>
                <td style="min-width:100px;">1000769</td>
                <td class="td-view">供應商貨號</td>
                <td style="min-width:100px;">46027</td>
                <td class="td-view" style="min-width:100px;">商品名稱</td>
                <td colspan="3">亞曼紅葡萄酒</td>
              </tr>
              <tr>
                <td class="td-view">原產地國家</td>
                <td>ES 西班牙</td>
                <td class="td-view">原產地地區</td>
                <td></td>
                <td class="td-view text-little py-0" style="min-width:100px;">發票顯示名稱</td>
                <td colspan="3">亞曼紅葡萄酒</td>
              </tr>
              <tr>
                <td class="td-view">配送方式</td>
                <td>廠商自送</td>
                <td class="td-view">規格</td>
                <td></td>
                <td class="td-view">商品成分</td>
                <td colspan="3"></td>
              </tr>
              <tr>
                <td class="td-view">銷售單位</td>
                <td>BOT 瓶</td>
                <td class="td-view">庫存單位</td>
                <td>BOT 瓶</td>
                <td class="td-view">課稅別</td>
                <td style="min-width:100px;">應稅</td>
                <td class="td-view" style="min-width:100px;">保存期限(天)</td>
                <td style="min-width:100px;">180</td>
              </tr>

              <tr>
                <td class="td-view">商標</td>
                <td></td>
                <td class="td-view">濃度</td>
                <td></td>
                <td class="td-view">克</td>
                <td></td>
                <td class="td-view">菸酒稅</td>
                <td>有</td>
              </tr>
              <tr>
                <td class="td-view">進口材積</td>
                <td></td>
                <td class="td-view">材積單位</td>
                <td></td>
                <td class="td-view">健康捐</td>
                <td>無</td>
                <td class="td-view">健康捐金額</td>
                <td>0</td>
              </tr>
              <tr>
                <td class="td-view">進口前置天數</td>
                <td></td>
                <td class="td-view">進口酒稅類別</td>
                <td></td>
                <td class="td-view text-little py-0">進口代號<br />CCC CODE</td>
                <td colspan="3"></td>
              </tr>
            </table>
          </div>
          <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
            <div class="pt-3"></div>
            <h5 class="text-warning text-underline">單位尺寸</h5>
            <table class="table table-bordered table-sm table-view table-hover">
              <tr>
                <td class="td-view" style="min-width:100px;">商品單位</td>
                <td class="td-view text-little py-0" style="min-width:200px;">與庫存單位換算比</td>
                <td class="td-view" style="min-width:80px;">長</td>
                <td class="td-view" style="min-width:80px;">寬</td>
                <td class="td-view" style="min-width:80px;">高</td>
                <td class="td-view" style="min-width:100px;">長度單位</td>
                <td class="td-view" style="min-width:100px;">重量</td>
                <td class="td-view">重量單位</td>
              </tr>
              <tr>
                <td>BOT 瓶</td>
                <td>1</td>
                <td>8</td>
                <td>9</td>
                <td>20</td>
                <td>CM 公分</td>
                <td>0.3</td>
                <td>KG 公斤</td>
              </tr>
            </table>
            <hr>
            <h5 class="text-warning text-underline">國際條碼</h5>
            <table class="table table-bordered table-sm table-view table-hover">
              <tr>
                <td class="td-view" style="min-width:100px;">商品單位</td>
                <td class="td-view" style="min-width:200px;">國際條碼</td>
                <td class="td-view">國際條碼類型</td>
              </tr>
              <tr>
                <td>BOT 瓶</td>
                <td>2000010007691</td>
                <td>ZS 店內碼</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <button type="button" class="btn btn-primary mr-2">商品異動申請</button>
          <button type="button" class="btn btn-outline-secondary">回上一頁</button>
        </div>
      </div>
    </div>
  </form>
</div>