<div class="container">
  <form>
    <div class="card">
      <div class="card-header">
        商品詢報議查詢 - 查詢條件
        <i class="fa fa-caret-down pull-right"></i>
      </div>
      <div class="card-body">
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">供應商編號</label>
          <div class="col-md-4">
            <p-autoComplete field="supCode" inputStyleClass="form-control form-control-sm" [style]="{'width':'120px'}"
              maxlength="10"></p-autoComplete>
            <label class="text-info ml-2">供應商名稱</label>
          </div>
          <label class="col-md-2 col-form-label text-right">商品編號</label>
          <div class="col-md-4">
            <p-autoComplete field="goodsCode" inputStyleClass="form-control form-control-sm" [style]="{'width':'120px'}"
              maxlength="10"></p-autoComplete>
            <label class="text-info ml-2">商品名稱</label>
          </div>
        </div>
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">詢價日期</label>
          <div class="col-md-4">
            <input class="form-control form-control-sm">
          </div>
          <label class="col-md-2 col-form-label text-right">詢價狀態</label>
          <div class="col-md-2">
            <select class="form-control form-control-sm">
              <option>全部</option>
              <option>未結案</option>
              <option>已結案</option>
              <option>已刪除</option>
            </select>
          </div>

        </div>
      </div>

      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <button type="button" class="btn btn-primary mr-2">查詢</button>
          <button type="reset" class="btn btn-outline-secondary">清除重填</button>
        </div>
      </div>
    </div>
  </form>
  <!--其他功能按鈕-->
  <div class="form-row justify-content-end align-items-center my-2 mx-2">
    <input type="button" class="btn btn-success" value="新增詢價" />
  </div>
  <!--DataGrid-->
  <div>
    <table class="table table-bordered table-sm table-view table-hover text-small">
      <thead>
        <tr>
          <th class="text-center td-view" style="width:50px;">#</th>
          <th class="td-view">詢價日期
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">商品編號
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">商品名稱
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">供應商編號
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">供應商名稱
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">報價狀態
            <i class="fa fa-sort"></i>
          </th>
          <th class="text-center td-view" style="width:80px;">內容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">123</td>
          <td>2019/03/12 14:23:57</td>
          <td>12087692</td>
          <td>孔雀小圓餅香濃雞蛋50g</td>
          <td>200123</td>
          <td>乖乖股份有限公司</td>
          <td>已報價</td>
          <td class="text-center">
            <button type="button" class="btn btn-outline-primary">內容</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>