<div class="container">
  <form>
    <div class="card">
      <div class="card-header">商品詢價</div>
      <div class="card-body">
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">商品編號</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
          <label class="col-md-5 col-form-label text-primary">海尼根啤酒</label>
        </div>
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">詢價備註</label>
          <div class="col-md-6">
            <textarea class="form-control form-control-sm"></textarea>
          </div>
        </div>
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">附件上傳</label>
          <div class="col-md-8">
            <p-fileUpload #excelUpload customUpload="true" chooseLabel="選擇檔案" uploadLabel="上傳"
              [showCancelButton]="false" maxFileSize="10000000">
            </p-fileUpload>
          </div>
        </div>

        <!--選擇供應商-->
        <h5 class="text-warning mt-3">選擇供應商</h5>
        <div class="contSupReply from-group row align-items-center mx-1">
          <label class="col-md-2 col-form-label text-right">供應商編號</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
          <label class="col-md-auto col-form-label text-primary">金財通商務科技(股)</label>
          <div class="col-md-auto">
            <a href="javascript:;" class="badge badge-secondary pull-right" style="color:white;">加入 <i
                class="fa fa-plus"></i></a>
          </div>
        </div>
        <div class="mx-2">
          <a href="javascript:;" class="badge badge-secondary pull-right my-2" style="color:white;">勾選移除 <i
              class="fa fa-minus"></i></a>
        </div>
        <table class="table table-bordered table-sm table-view table-hover text-small">
          <thead>
            <tr>
              <th class="text-center td-view" style="width:50px;">#</th>
              <th class="text-center td-view" style="width:50px;">
                <p-checkbox name="groupname" value="val1"></p-checkbox>
              </th>
              <th class="td-view">供應商編號
                <i class="fa fa-sort"></i>
              </th>
              <th class="td-view">供應商名稱
                <i class="fa fa-sort"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">
                <p-checkbox name="groupname" value="val1"></p-checkbox>
              </td>
              <td>S00111</td>
              <td>供應商一</td>
            </tr>
            <tr>
              <td class="text-center">2</td>
              <td class="text-center">
                <p-checkbox name="groupname" value="val1"></p-checkbox>
              </td>
              <td>2486145</td>
              <td>供應商二</td>
            </tr>
            <tr>
              <td class="text-center">3</td>
              <td class="text-center">
                <p-checkbox name="groupname" value="val1"></p-checkbox>
              </td>
              <td>5762414</td>
              <td>供應商三</td>
            </tr>
          </tbody>
        </table>
        <!--選擇供應商-->

      </div>
      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <button type="submit" class="btn btn-primary mr-2">送出詢價</button>
          <button type="button" class="btn btn-outline-secondary">回上一頁</button>
        </div>
      </div>

    </div>
  </form>
</div>