<div class="container">
  <form>
    <div class="card">
      <div class="card-header">發票開立
      </div>
      <div class="card-body">
        <h5 class="text-warning">發票資料</h5>

        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">發票號碼</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
          <label class="col-md-2 col-form-label text-right">發票號碼</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
          <label class="col-md-2 col-form-label text-right">稅別</label>
          <div class="col-md-2">
            <select class="form-control form-control-sm">
              <option>應稅</option>
              <option>免稅</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">發票日期</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
          <label class="col-md-2 col-form-label text-right">發票年月</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm" disabled>
          </div>
        </div>
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">發票金額</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
          <label class="col-md-2 col-form-label text-right">發票稅額</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
          <label class="col-md-2 col-form-label text-right">未稅金額</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
        </div>
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">發票格式</label>
          <div class="col-md-2">
            <select class="form-control form-control-sm">
              <option>21</option>
            </select>
          </div>
          <label class="col-md-2 col-form-label text-right">扣抵代號</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
          <label class="col-md-2 col-form-label text-right">發票歸屬</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <label class="col-form-label">審核人員：</label>
          <div class="col-sm-auto mr-2">
            <select class="form-control form-control-sm">
              <option>請選擇</option>

            </select>
          </div>
          <button type="button" class="btn btn-primary mr-2">送出申請</button>
          <!--<div class="d-inline ml-4 mr-2"><input class="form-control form-control-sm" placeholder="退回供應商備註"></div>
          <button type="button" class="btn btn-secondary mr-2">退回供應商</button>-->
          <button type="button" class="btn btn-outline-secondary">回上一頁</button>
        </div>
      </div>
    </div>
  </form>
</div>