<div class="container">
  <form>
    <div class="card">
      <div class="card-header">
        發票開立查詢 - 查詢條件
        <i class="fa fa-caret-down pull-right"></i>
      </div>
      <div class="card-body">
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">驗收日期</label>
          <div class="col-md-3">
            <input class="form-control form-control-sm">
          </div>
        </div>
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">訂單編號</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
          <label class="col-md-2 col-form-label text-right">供應商</label>
          <div class="col-md-4">
            <p-autoComplete formControlName="supCode" inputStyleClass="form-control form-control-sm"
              [style]="{'width':'120px'}" maxlength="10"></p-autoComplete>
            <label class="text-info ml-2">供應商名稱</label>
          </div>

        </div>
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">發票號碼</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
          <label class="col-md-2 col-form-label text-right">發票狀態</label>
          <div class="col-md-2">
            <select class="form-control form-control-sm">
              <option>全部</option>
              <option>待開立</option>
              <option>已開立</option>
              <option>已立帳</option>
              <option>已結案</option>
              <option>已退回</option>
            </select>
          </div>
          <label class="col-md-2 col-form-label text-right">發票年月</label>
          <div class="col-md-2">
            <select class="form-control form-control-sm">
              <option>全部</option>
            </select>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <button type="button" class="btn btn-primary mr-2">查詢</button>
          <button type="reset" class="btn btn-outline-secondary">清除重填</button>
        </div>
      </div>
    </div>
  </form>
  <!--其他功能按鈕-->
  <div class="form-row align-items-center my-2 mx-1">
    <div class="col text-danger">
      重要提醒：只有當日開立的發票可以修改及作廢
    </div>
    <div class="justify-content-end">
      <input type="button" class="btn btn-success mr-2" value="發票開立 - 依查詢結果勾選開立" />
      <input type="button" class="btn btn-secondary mr-2" value="發票開立 - 依查詢條件整批開立" />
      <input type="button" class="btn btn-info" value="查詢下載">
    </div>
  </div>
  <!--DataGrid-->
  <div>
    <table class="table table-bordered table-sm table-view table-hover text-small">
      <thead>
        <tr>
          <th class="text-center td-view" style="width:50px;">#</th>
          <th class="text-center td-view" style="width:50px;">
            <p-checkbox name="groupname" value="val1"></p-checkbox>
          </th>
          <th class="td-view">訂單編號
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">項次
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">商品編號
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">商品名稱
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">驗收日期
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view text-right">金額
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">發票狀態
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">發票號碼
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">發票年月
            <i class="fa fa-sort"></i>
          </th>
          <th class="text-center td-view" style="width:80px;">內容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">123</td>
          <td class="text-center">
            <p-checkbox name="groupname" value="val1"></p-checkbox>
          </td>
          <td>20192223456789</td>
          <td>1</td>
          <td>0006309</td>
          <td>百利抗菌鋼絨海綿不鏽鋼專用菜瓜布2入</td>
          <td>2019/01/25</td>
          <td class="text-right">1,346</td>
          <td>待開立</td>
          <td></td>
          <td></td>
          <td class="text-center">
            <button type="button" class="btn btn-outline-primary">內容</button>
          </td>
        </tr>
        <tr>
          <td class="text-center">124</td>
          <td class="text-center">
          </td>
          <td>20192223456789</td>
          <td>2</td>
          <td>0006560</td>
          <td>飛柔檸檬均衡洗髮乳1000ml</td>
          <td>2019/01/25</td>
          <td class="text-right">36,899</td>
          <td>已開立</td>
          <td>MH24095770</td>
          <td>201801</td>
          <td class="text-center">
            <button type="button" class="btn btn-outline-primary">內容</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>