<div class="container">
  <form>
    <div>
      <h4 class="annOrgTitle">SCM公告</h4>
      <div class="px-3">
        <table class="table-underline">
          <tr>
            <td style="width:80px;"><label class="badge badge-secondary">資訊部</label></td>
            <td style="width:100px;">2019/03/12</td>
            <td><a href="javascript:;">請盡快測試各功能</a></td>
          </tr>
          <tr>
            <td style="width:80px;"><label class="badge badge-secondary">資訊部</label></td>
            <td style="width:100px;">2019/04/01</td>
            <td><a href="javascript:;">例行性維護公告</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="mt-5">
      <h4 class="annOrgTitle">待簽核清單</h4>
      <table class="table table-bordered table-sm table-view table-hover text-small">
        <thead>
          <tr>
            <td class="td-view">單據</td>
            <td class="td-view" style="width:80px;">單據編號</td>
            <td class="td-view" style="width:100px;">申請人類別</td>
            <td class="td-view">申請人</td>
            <td class="td-view">上一層人員</td>
            <td class="td-view" style="width:170px;">送簽時間</td>
            <td class="td-view text-center" style="width:70px;">檢視</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>新品提報</td>
            <td>112</td>
            <td>供應商</td>
            <td>聯柏企業股份有限公司</td>
            <td>聯柏企業股份有限公司</td>
            <td>2019/03/02 11:23:54</td>
            <td class="text-center"><button type="button" class="btn btn-outline-primary">檢視</button></td>
          </tr>
          <tr>
              <td>商品變價</td>
              <td>98</td>
              <td>家購人員</td>
              <td>張三豐</td>
              <td>令狐沖</td>
              <td>2019/03/01 19:11:23</td>
              <td class="text-center"><button type="button" class="btn btn-outline-primary">檢視</button></td>
            </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>