<div class="container">
  <form>
    <!--通路-->
    <h3>STEP1.輸入通路</h3>
    <div class="card">
      <div class="card-header">商品變價 - 選擇通路</div>
      <div class="card-body">
        <div class="form-row">
          <label class="col-2 col-form-label text-right">商品編號</label>
          <div class="col-auto">
            <input class="form-control form-control-sm">
          </div>
        </div>
        <div class="form-row">
          <label class="col-2 col-form-label text-right">供應商編號</label>
          <div class="col-auto">
            <input class="form-control form-control-sm" disabled>
          </div>
        </div>
        <div class="form-row">
          <label class="col-2 col-form-label text-right">請選擇通路</label>
          <div class="col-auto">
            <select class="form-control form-control-sm">
              <option>請選擇</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <button type="button" class="btn btn-primary mr-2">下一步</button>
          <button type="button" class="btn btn-outline-secondary">回上一頁</button>
        </div>
      </div>
    </div>
    <br>
    <!--申請內容-->
    <h3>STEP2.供應商申請頁</h3>
    <div class="card">
      <div class="card-header">商品變價 - 新增申請
        <div class="card-header-info d-inline">
          <label><span class="badge badge-warning">義美巧克力酥片黑可可(280公克)</span></label>
          <label><span class="badge badge-warning">美廉社</span></label>
          <label><span class="badge badge-warning">金財通商務科技(股)</span></label>
          <label><span class="badge badge-warning">應稅</span></label>
        </div>
      </div>
      <div class="card-body">
        <nav class="nav-justified">
          <div class="nav nav-tabs " id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1"
              aria-selected="true">商品價格</a>
            <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2"
              aria-selected="false">其他資訊</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
            <div class="pt-3"></div>
            <!--商品價格-->
            <h5 class="text-warning">原始價格</h5>
            <table class="table table-bordered table-sm table-view table-hover">
              <thead>
                <tr>
                  <th class="td-view">價格類別</th>
                  <th class="td-view">價格</th>
                  <th class="td-view">起迄日期</th>
                  <th class="td-view">毛利率</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-primary">進價(未稅)</td>
                  <td>82.5</td>
                  <td>2019/01/01~2019/03/30</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-primary">促銷進價</td>
                  <td>80.3</td>
                  <td>2019/01/01~2019/03/30</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-primary">健康捐</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-primary">市價</td>
                  <td>96</td>
                  <td>2019/01/01~2019/03/30</td>
                  <td>9.77%</td>
                </tr>
                <tr>
                  <td class="text-primary">售價</td>
                  <td>93</td>
                  <td>2019/01/01~2019/03/30</td>
                  <td>6.85%</td>
                </tr>
                <tr>
                  <td class="text-primary">會員價</td>
                  <td>92</td>
                  <td>2019/01/01~2019/03/30</td>
                  <td>5.84%</td>
                </tr>
              </tbody>
            </table>
            <!--
            <div class="form-row bg-secondary text-white">
              <div class="col-2 offset-1"><label>價格類別</label></div>
              <div class="col-2"><label>價格</label></div>
              <div class="col-4"><label>起迄日期</label></div>
              <div class="col-2"><label>毛利率</label></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1"><label class="col-form-label">進價(未稅)</label></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="82.5" readonly></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"
                  readonly></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1"><label class="col-form-label">促銷進價</label></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="80.3" readonly></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"
                  readonly></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1"><label class="col-form-label">健康捐</label></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="" readonly></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="" readonly></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1"><label class="col-form-label">市價</label></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="96" readonly></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"
                  readonly></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="9.77%" readonly></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1"><label class="col-form-label">售價</label></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="93" readonly></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"
                  readonly></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="6.85%" readonly></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1"><label class="col-form-label">會員價</label></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="92" readonly></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"
                  readonly></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="5.84%" readonly></div>
            </div>
-->
            <h5 class="text-warning mt-3">異動價格</h5>
            <div class="form-row bg-success text-white">
              <div class="col-2 offset-1"><label>價格類別</label></div>
              <div class="col-2"><label>價格</label></div>
              <div class="col-4"><label>起迄日期</label></div>
              <div class="col-2"><label>毛利率</label></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1">
                <div class="form-check-inline">
                  <p-checkbox name="groupname" value="val1" label="進價(未稅)" styleClass="form-check-input"
                    labelStyleClass="form-check-label"></p-checkbox>
                </div>
              </div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="82.5" disabled></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"
                  disabled></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1">
                <div class="form-check-inline">
                  <p-checkbox name="groupname" value="val1" label="促銷進價" styleClass="form-check-input" labelStyleClass="form-check-label"></p-checkbox>
                </div>
              </div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="80.3" disabled></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"
                  disabled></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1">
                <div class="form-check-inline">
                  <p-checkbox name="groupname" value="val1" label="健康捐" styleClass="form-check-input" labelStyleClass="form-check-label"></p-checkbox>
                </div>
              </div>
              <div class="form-group col-2"><input class="form-control form-control-sm" disabled></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" disabled></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1">
                <div class="form-check-inline">
                  <p-checkbox name="groupname" value="val1" label="市價" styleClass="form-check-input" labelStyleClass="form-check-label"></p-checkbox>
                </div>
              </div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="96" disabled></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"
                  disabled></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="9.77%" disabled></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1">
                <div class="form-check-inline">
                  <p-checkbox name="groupname" value="val1" label="售價" styleClass="form-check-input" labelStyleClass="form-check-label"></p-checkbox>
                </div>
              </div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="93"></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="6.85%" disabled></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1">
                <div class="form-check-inline">
                  <p-checkbox name="groupname" value="val1" label="會員價" styleClass="form-check-input" labelStyleClass="form-check-label"></p-checkbox>
                </div>
              </div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="92" disabled></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"
                  disabled></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="5.84%" disabled></div>
            </div>
            <!--
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1">
                <label class="form-check-label">進價(未稅)</label>
              </div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="84" disabled></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"></div>
            </div>

            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1">
                <label class="form-check-label">售價</label>
              </div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="95"></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="7.16%" disabled></div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-2 offset-1">
                <label class="form-check-label">會員價</label>
              </div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="94"></div>
              <div class="form-group col-4"><input class="form-control form-control-sm" value="2019/01/01~2019/03/30"></div>
              <div class="form-group col-2"><input class="form-control form-control-sm" value="6.17%" disabled></div>
            </div>
            -->
          </div>
          <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
            <div class="pt-3"></div>
            <!--其他資訊-->
            <!--<div class="form-row">
              <div class="form-group col-md-3">
                <label>異動費用</label>
                <input class="form-control form-control-sm">
              </div>
              <div class="form-group col-md-3">
                <label>扣款科目</label>
                <select class="form-control form-control-sm">
                  <option>請選擇</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label>會科代碼</label>
                <input class="form-control form-control-sm" disabled>
              </div>
              <div class="form-group col-md-3">
                <label>會科名稱</label>
                <input class="form-control form-control-sm" disabled>
              </div>
            </div>
            -->
            <div class="form-row">

              <div class="form-group col-md-6">
                <label>其他備註</label>
                <textarea class="form-control form-control-sm"></textarea>
              </div>
              <div class="form-group col-md-3">
                <label>價標</label>
                <div>
                  <div class="form-check form-check-inline">
                    <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="有" styleClass="form-check-input"
                      labelStyleClass="form-check-label"></p-radioButton>
                  </div>
                  <div class="form-check form-check-inline">
                    <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="無" styleClass="form-check-input"
                      labelStyleClass="form-check-label"></p-radioButton>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <h5 class="text-warning text-underline">通路價卡
            </h5>
            <p-fileUpload #imageUpload multiple="multiple" accept="image/*" maxFileSize="10000000" [showUploadButton]="false"
              chooseLabel="選擇檔案" cancelLabel="清除已選擇檔案" [previewWidth]="250">
            </p-fileUpload>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <label class="col-form-label">審核人員：</label>
          <div class="col-sm-auto mr-2">
            <select class="form-control form-control-sm">
              <option>請選擇</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary mr-2">送出申請</button>
          <button type="button" class="btn btn-outline-secondary">回上一頁</button>
        </div>
      </div>
    </div>
  </form>
</div>