<div class="container">
  <form>
    <div class="card">
      <div class="card-header">
        國外訂單查詢 - 查詢條件
        <i class="fa fa-caret-down pull-right"></i>
      </div>
      <div class="card-body">
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">訂貨日期</label>
          <div class="col-md-3">
            <input class="form-control form-control-sm">
          </div>
          <div class="col-md-1"></div>
          <label class="col-md-2 col-form-label text-right">進口日期</label>
          <div class="col-md-3">
            <input class="form-control form-control-sm">
          </div>
        </div>
        <div class="form-row align-items-center">
          <label class="col-md-2 col-form-label text-right">供應商</label>
          <div class="col-md-4">
            <p-autoComplete formControlName="supCode" inputStyleClass="form-control form-control-sm"
              [style]="{'width':'120px'}" maxlength="10"></p-autoComplete>
            <label class="text-info ml-2">供應商名稱</label>
          </div>
          <label class="col-md-2 col-form-label text-right">訂單編號</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm">
          </div>
        </div>
        <div class="form-row align-items-center">

          <label class="col-md-2 col-form-label text-right">船務公司</label>
          <div class="col-md-2">
            <select class="form-control form-control-sm">
              <option>全部</option>
            </select>
          </div>
          <div class="col-md-2"></div>
          <label class="col-md-2 col-form-label text-right">船務費用</label>
          <div class="col-md-2">
            <select class="form-control form-control-sm">
              <option>全部</option>
              <option>未輸入</option>
              <option>已儲存</option>
              <option>簽核中</option>
              <option>簽核完成</option>
            </select>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <button type="button" class="btn btn-primary mr-2">查詢</button>
          <button type="reset" class="btn btn-outline-secondary">清除重填</button>
        </div>
      </div>
    </div>
  </form>
  <!--其他功能按鈕-->
  <div class="form-row justify-content-end align-items-center my-2 mx-2">
    <input type="button" class="btn btn-success" value="成本表下載" />
  </div>
  <!--DataGrid-->
  <div>
    <table class="table table-bordered table-sm table-view table-hover">
      <thead>
        <tr>
          <th class="text-center td-view" style="width:50px;">#</th>
          <th class="text-center td-view" style="width:50px;">
            <p-checkbox name="groupname" value="val1"></p-checkbox>
          </th>
          <th class="td-view">訂單編號
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">進口日期
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">公司別
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">供應商編號
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view">供應商名稱
            <i class="fa fa-sort"></i>
          </th>
          <th class="td-view text-right">成本總計
            <i class="fa fa-sort"></i>
          </th>
          <th class="text-center td-view" style="width:80px;">船務費用</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">123</td>
          <td class="text-center">
            <p-checkbox name="groupname" value="val1"></p-checkbox>
          </td>
          <td><a href="javascript:;">20192223456789</a></td>
          <td>2019/01/23</td>
          <td>心樸市集</td>
          <td>1265635401</td>
          <td>金財通商務科技(股)</td>
          <td class="text-right">12,345,332</td>
          <td class="text-center">
            <button type="button" class="btn btn-outline-primary">船務費用</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>