<div class="container">
  <form>
    <div class="card">
      <div class="card-header">船務費用</div>
      <div class="card-body">
        <table class="table table-bordered table-sm table-view">
          <tbody>
            <tr>
              <td class="td-view" style="width:10%;">訂單編號</td>
              <td>2019012401</td>
              <td class="td-view" style="width:10%;">訂單日期</td>
              <td>2019/01/24</td>
              <td class="td-view" style="width:10%;">公司代號</td>
              <td>T100 三商家購</td>
              <td class="td-view" style="width:10%;">採購群組</td>
              <td>A99 呂不韋</td>
            </tr>
            <tr>
              <td class="td-view">供應商</td>
              <td colspan="3">S000123 金財通商務科技(股)</td>
              <td class="td-view">進口公司</td>
              <td colspan="3">台安報關股份有限公司</td>
            </tr>
          </tbody>
        </table>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label>進口日期</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-3">
            <label>報單號碼</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-3">
            <label>幣別</label>
            <select class="form-control form-control-sm">
              <option>請選擇</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>匯率</label>
            <input class="form-control form-control-sm">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label>貨價</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>保險費(前段)</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>保險費(後段)</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>關稅</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>商港建設費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>報關費(保倉)</label>
            <input class="form-control form-control-sm">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>運費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>+ 吊櫃/拆櫃費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>=</label>
            <input class="form-control form-control-sm" disabled>
          </div>
          <div class="form-group col-md-2">
            <label>報關費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>+ 進口拖車費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>=</label>
            <input class="form-control form-control-sm" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>報驗費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>貨櫃延滯費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>保險費(後段)</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>關稅</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>商港建設費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>報關費(保倉)</label>
            <input class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <button type="submit" class="btn btn-primary mr-2">訂單下載</button>
          <button type="button" class="btn btn-outline-secondary">回上一頁</button>
        </div>
      </div>
    </div>
  </form>
</div>