<div class="container">
  <form>
    <div class="card">
      <div class="card-header">船務費用</div>
      <div class="card-body">
        <table class="table table-bordered table-sm table-view text-little">
          <tbody>
            <tr>
              <td class="td-view" style="width:10%;">國外訂單編號</td>
              <td>2019012401</td>
              <td class="td-view" style="width:10%;">訂單日期</td>
              <td>2019/01/24</td>
              <td class="td-view" style="width:10%;">公司代號</td>
              <td>T100 三商家購</td>
              <td class="td-view" style="width:10%;">採購群組</td>
              <td>A99 呂不韋</td>
            </tr>
            <tr>
              <td class="td-view">供應商</td>
              <td colspan="3">S000123 金財通商務科技(股)</td>
              <td class="td-view">進口公司</td>
              <td colspan="3">台安報關股份有限公司</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered table-sm table-view table-hover text-little">
          <thead>
            <tr>
              <td class="td-view">商品編號</td>
              <td class="td-view">商品名稱</td>
              <td class="td-view">數量</td>
              <td class="td-view">單位</td>
              <td class="td-view">幣別</td>
              <td class="td-view text-right">單價</td>
              <td class="td-view text-right">小計</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>462640192</td>
              <td>熊寶貝玫瑰甜心衣物柔軟精3200ml</td>
              <td>120</td>
              <td>瓶</td>
              <td>NTD</td>
              <td class="text-right">288</td>
              <td class="text-right">34,560</td>
            </tr>
          </tbody>
        </table>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>進口日期</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>報單號碼</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>幣別</label>
            <select class="form-control form-control-sm">
              <option>請選擇</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label>匯率</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>空瓶費率</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>起岸價格</label>
            <input class="form-control form-control-sm">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label>貨價</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>保險費(前段)</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>保險費(後段)</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>報驗費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>貨櫃延滯費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>拖車費</label>
            <input class="form-control form-control-sm">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>運費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>+ 吊櫃/拆櫃費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>= 總運費</label>
            <input class="form-control form-control-sm" disabled>
          </div>
          <div class="form-group col-md-2">
            <label>關稅</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>健康捐</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>健康捐代收代付</label>
            <input class="form-control form-control-sm">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>報關費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>+ 進口拖車費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>= 總報關費</label>
            <input class="form-control form-control-sm" disabled>
          </div>
          <div class="form-group col-md-2">
            <label>報關稅</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>報關費(保倉)</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>報關稅(保倉)</label>
            <input class="form-control form-control-sm">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>商港建設費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>貼標費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>L/C開狀費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>拆櫃費</label>
            <input class="form-control form-control-sm">
          </div>

          <div class="form-group col-md-2">
            <label>環保費</label>
            <input class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-2">
            <label>所有額外-進口費用</label>
            <input class="form-control form-control-sm">
          </div>
        </div>
        <div class="mt-3 contInnerReply">
          <div class="form-group row">
            <label class="col-md-2 col-form-label text-right">價金合計：</label>
            <label class="col-md-2 col-form-label text-right text-danger"><b>198,929</b></label>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label text-right">費用合計：</label>
            <label class="col-md-2 col-form-label text-right text-danger"><b>99,722</b></label>
          </div>
          <div class="form-group row" style="border-top:2px solid #999999;">
            <label class="col-md-2 col-form-label text-right">合計：</label>
            <label class="col-md-2 col-form-label text-right text-danger"><b>298,651</b></label>
            <label class="col-md-2 col-form-label text-right">- 代收代付健康捐：</label>
            <label class="col-md-2 col-form-label text-right text-danger"><b>0</b></label>
            <label class="col-md-2 col-form-label text-right">= </label>
            <label class="col-md-2 col-form-label text-right text-danger"><b>298,651</b></label>
          </div>
        </div>
        <div class="form-group row justify-content-end mt-2">
          <button type="button" class="btn btn-danger">資料暫存</button>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <label class="col-form-label">審核人員：</label>
          <div class="col-sm-auto mr-2">
            <select class="form-control form-control-sm">
              <option>請選擇</option>

            </select>
          </div>
          <button type="submit" class="btn btn-primary mr-2">送出審核</button>
          <button type="button" class="btn btn-outline-secondary">回上一頁</button>
        </div>
      </div>
    </div>
  </form>
</div>