<div class="container">
    <form>
        <div class="card">
            <div class="card-header card-header-view">船務費用</div>
            <div class="card-body">
                <table class="table table-bordered table-sm table-view text-little">
                    <tbody>
                        <tr>
                            <td class="td-view" style="width:10%;">訂單編號</td>
                            <td>2019012401</td>
                            <td class="td-view" style="width:10%;">訂單日期</td>
                            <td>2019/01/24</td>
                            <td class="td-view" style="width:10%;">公司代號</td>
                            <td>T100 三商家購</td>
                            <td class="td-view" style="width:10%;">採購群組</td>
                            <td>A99 呂不韋</td>
                        </tr>
                        <tr>
                            <td class="td-view">供應商</td>
                            <td colspan="3">S000123 金財通商務科技(股)</td>
                            <td class="td-view">進口公司</td>
                            <td colspan="3">台安報關股份有限公司</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-sm table-view table-hover text-little">
                    <thead>
                        <tr>
                            <td class="td-view">商品編號</td>
                            <td class="td-view">商品名稱</td>
                            <td class="td-view">數量</td>
                            <td class="td-view">單位</td>
                            <td class="td-view">幣別</td>
                            <td class="td-view text-right">單價</td>
                            <td class="td-view text-right">小計</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>462640192</td>
                            <td>熊寶貝玫瑰甜心衣物柔軟精3200ml</td>
                            <td>120</td>
                            <td>瓶</td>
                            <td>NTD</td>
                            <td class="text-right">288</td>
                            <td class="text-right">34,560</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-sm table-input text-little">
                    <tbody>
                        <tr>
                            <td class="td-input" style="width:16%;">進口日期</td>
                            <td class="td-input" style="width:16%;">報單號碼</td>
                            <td class="td-input" style="width:16%;">幣別</td>
                            <td class="td-input" style="width:16%;">匯率</td>
                            <td class="td-input" style="width:16%;">空瓶費率</td>
                            <td class="td-input" style="width:16%;">起岸價格</td>
                        </tr>
                        <tr>
                            <td>2018/10/08</td>
                            <td>ABF207154A0038</td>
                            <td>JPY 日幣</td>
                            <td>0.2783</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td class="td-input">貨價</td>
                            <td class="td-input">保險費(前段)</td>
                            <td class="td-input">保險費(後段)</td>
                            <td class="td-input">報驗費</td>
                            <td class="td-input">貨櫃延滯費</td>
                            <td class="td-input">拖車費</td>
                        </tr>
                        <tr>
                            <td>770,435</td>
                            <td>0</td>
                            <td>400</td>
                            <td>8,000</td>
                            <td>0</td>
                            <td>9,025</td>
                        </tr>
                        <tr>
                            <td class="td-input">運費</td>
                            <td class="td-input">+ 吊櫃/拆櫃費</td>
                            <td class="td-input">= 總運費</td>
                            <td class="td-input">關稅</td>
                            <td class="td-input">健康捐</td>
                            <td class="td-input">健康捐代收代付</td>
                        </tr>
                        <tr>
                            <td>3,533</td>
                            <td>5,600</td>
                            <td>9,133</td>
                            <td>148,844</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td class="td-input">報關費</td>
                            <td class="td-input">+ 進口拖車費</td>
                            <td class="td-input">= 總報關費</td>
                            <td class="td-input">報關稅</td>
                            <td class="td-input">報關費(保倉)</td>
                            <td class="td-input">報關稅(保倉)</td>
                        </tr>
                        <tr>
                            <td>8,984</td>
                            <td>788</td>
                            <td>9,762</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td class="td-input">商港建設費</td>
                            <td class="td-input">貼標費</td>
                            <td class="td-input">L/C開狀費</td>
                            <td class="td-input">拆櫃費</td>
                            <td class="td-input">環保費</td>
                            <td class="td-input">所有額外-進口費用</td>
                        </tr>
                        <tr>
                            <td>684</td>
                            <td>43,513</td>
                            <td>0</td>
                            <td>2,500</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-3 contInnerReply">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-right">價金合計：</label>
                        <label class="col-md-2 col-form-label text-right text-danger"><b>770,435</b></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-right">費用合計：</label>
                        <label class="col-md-2 col-form-label text-right text-danger"><b>231,871</b></label>
                    </div>
                    <div class="form-group row" style="border-top:2px solid #999999;">
                        <label class="col-md-2 col-form-label text-right">合計：</label>
                        <label class="col-md-2 col-form-label text-right text-danger"><b>1,002,306</b></label>
                        <label class="col-md-2 col-form-label text-right">- 代收代付健康捐：</label>
                        <label class="col-md-2 col-form-label text-right text-danger"><b>0</b></label>
                        <label class="col-md-2 col-form-label text-right">= </label>
                        <label class="col-md-2 col-form-label text-right text-danger"><b>1,002,306</b></label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="col-auto mr-auto"><label class="mb-0">目前狀態：<span
                                class="badge badge-warning">未簽核</span></label></div>
                    <div class="col-auto d-inline form-row ">
                        <button type="button" class="btn btn-danger mr-2">進行編輯</button>
                        <button type="button" class="btn btn-outline-secondary">回上一頁</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mt-3">
            <div class="card-header card-header-sign">簽核歷程

            </div>
            <div class="class-body">
                <div class="mx-5 my-3">
                    <table class="table table-bordered table-sm table-sign table-hover">
                        <thead>
                            　 <tr>
                                　　 <th class="td-sign">時間</th>
                                　　 <th class="td-sign">使用者</th>
                                　　 <th class="td-sign">簽核動作</th>
                                　　 <th class="td-sign">簽核備註</th>
                                　 </tr>

                        </thead>
                        <tbody>
                            　 <tr>
                                　　 <td>2018/12/20 11:12:24</td>
                                　　 <td>金財通商務(股)</td>
                                　　 <td>送出審核</td>
                                　　 <td></td>
                                　 </tr>
                            <tr>
                                　　 <td>2018/12/21 12:02:20</td>
                                　　 <td>張無忌</td>
                                　　 <td>退回</td>
                                　　 <td>商品名稱錯誤</td>
                                　 </tr>
                            <tr>
                                　　 <td>2018/12/21 16:56:10</td>
                                　　 <td>金財通商務(股)</td>
                                　　 <td>退件重送</td>
                                　　 <td></td>
                                　 </tr>
                            <tr>
                                　　 <td>2018/12/21 17:08:33</td>
                                　　 <td>張無忌</td>
                                　　 <td>核准</td>
                                　　 <td></td>
                                　 </tr>
                            <tr>
                                　　 <td>2018/12/22 09:45:13</td>
                                　　 <td>張三豐</td>
                                　　 <td>核准</td>
                                　　 <td></td>
                                　 </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">單據簽核</div>
            <div class="card-body">
                <div class="form-row align-items-center">
                    <label class="col-2 col-form-label text-right">簽核動作：</label>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <p-radioButton name="groupname" value="val1" id="inlineRadio1" label="核准"
                                styleClass="form-check-input" labelStyleClass="form-check-label"></p-radioButton>
                        </div>
                        <div class="form-check form-check-inline">
                            <p-radioButton name="groupname" value="val2" id="inlineRadio2" label="退回"
                                styleClass="form-check-input" labelStyleClass="form-check-label"></p-radioButton>
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <label class="col-2 col-form-label text-right">備註：</label>
                    <div class="col-4">
                        <textarea class="form-control form-control-sm"></textarea>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <label class="col-2 col-form-label text-right">下一關人員：</label>
                    <div class="col-auto">
                        <select class="form-control form-control-sm">
                            <option>請選擇</option>
                            <option>採購經理</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-check-inline">
                            <p-checkbox name="groupname" value="val1" label="結束流程" styleClass="form-check-input"
                                labelStyleClass="form-check-label"></p-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-row justify-content-end align-items-center">
                    <button type="submit" value="儲存" class="btn btn-primary mr-2">送出簽核結果</button>
                    <!--<button type="submit" value="儲存" class="btn btn-danger mr-2">退件/作廢重送</button>
                        <button type="submit" value="儲存" class="btn btn-danger mr-2">進行編輯</button>-->
                    <button type="button" class="btn btn-outline-secondary">回上一頁</button>
                </div>
            </div>
        </div>
    </form>
</div>