<div class="container">
  <form>
    <div class="card">
      <div class="card-header">C級品通報內容
      </div>
      <div class="card-body">
        <h4 class="annOrgTitle">10007 聯柏企業股份有限公司</h4>
        <!--通路-->
        <h5 class="mt-4"><span class="badge badge-info">美廉社</span></h5>
        <!--通報內容 1-->
        <table class="table table-bordered table-sm table-view text-little">
          <tbody>
            <tr>
              <td class="td-view" style="width:70px;">項次</td>
              <td style="width:80px;">1</td>
              <td class="td-view" style="width:80px;">C級品次數</td>
              <td style="min-width:50px;">15</td>
              <td class="td-view" style="width:70px;">商品</td>
              <td colspan="3">1000884 楓糖漿1.2kg</td>
              <td class="td-view" style="width:70px;">銷售數量</td>
              <td style="min-width:50px;">5</td>
              <td class="td-view" style="width:90px;">銷售金額</td>
              <td style="min-width:50px;">23,456</td>
            </tr>
            <tr>
              <td class="td-view">毛利額</td>
              <td>1345</td>
              <td class="td-view">毛利率</td>
              <td>2.03%</td>
              <td class="td-view">PSD</td>
              <td style="min-width:50px;">121.55</td>
              <td class="td-view" style="width:120px;">下架處理方式</td>
              <td style="min-width:50px;">出清</td>
              <td class="td-view">庫存</td>
              <td>25</td>
              <td class="td-view">預計下架日</td>
              <td>2019/04/30</td>
            </tr>
            <tr>
              <td class="td-view">出清售價</td>
              <td></td>
              <td class="td-view">出清起日</td>
              <td>2019/03/31</td>
              <td class="td-view">出清迄日</td>
              <td>2019/04/30</td>
              <td class="td-view">實銷補到毛利%</td>
              <td>3.02%</td>
              <td class="td-view">實銷補錢</td>
              <td>2222</td>
              <td class="td-view">其他方式</td>
              <td></td>
            </tr>
            <tr>
              <td class="td-view">備註</td>
              <td colspan="11"></td>
            </tr>
            <tr>
              <td class="td-view">留售改<br>善計畫</td>
              <td colspan="11">
                <textarea class="form-control form-control-sm"></textarea>
              </td>
            </tr>
          </tbody>
        </table>
        <!--通報內容 2-->
        <table class="table table-bordered table-sm table-view text-little">
          <tbody>
            <tr>
              <td class="td-view" style="width:70px;">項次</td>
              <td style="width:80px;">2</td>
              <td class="td-view" style="width:80px;">C級品次數</td>
              <td style="min-width:50px;">15</td>
              <td class="td-view" style="width:70px;">商品</td>
              <td colspan="3">1001106 味味A包麵肉骨茶85g*5包</td>
              <td class="td-view" style="width:70px;">銷售數量</td>
              <td style="min-width:50px;">5</td>
              <td class="td-view" style="width:90px;">銷售金額</td>
              <td style="min-width:50px;">23,456</td>
            </tr>
            <tr>
              <td class="td-view">毛利額</td>
              <td>1345</td>
              <td class="td-view">毛利率</td>
              <td>2.03%</td>
              <td class="td-view">PSD</td>
              <td style="min-width:50px;">121.55</td>
              <td class="td-view" style="width:120px;">下架處理方式</td>
              <td style="min-width:50px;">出清</td>
              <td class="td-view">庫存</td>
              <td>25</td>
              <td class="td-view">預計下架日</td>
              <td>2019/04/30</td>
            </tr>
            <tr>
              <td class="td-view">出清售價</td>
              <td></td>
              <td class="td-view">出清起日</td>
              <td>2019/03/31</td>
              <td class="td-view">出清迄日</td>
              <td>2019/04/30</td>
              <td class="td-view">實銷補到毛利%</td>
              <td>3.02%</td>
              <td class="td-view">實銷補錢</td>
              <td>2222</td>
              <td class="td-view">其他方式</td>
              <td></td>
            </tr>
            <tr>
              <td class="td-view">備註</td>
              <td colspan="11"></td>
            </tr>
            <tr>
              <td class="td-view">留售改<br>善計畫</td>
              <td colspan="11">
                <textarea class="form-control form-control-sm"></textarea>
              </td>
            </tr>
          </tbody>
        </table>

        <!--通路-->
        <h5 class="mt-4"><span class="badge badge-info">大美超市</span></h5>
        <!--通報內容 1-->
        <table class="table table-bordered table-sm table-view text-little">
          <tbody>
            <tr>
              <td class="td-view" style="width:70px;">項次</td>
              <td style="width:80px;">1</td>
              <td class="td-view" style="width:80px;">C級品次數</td>
              <td style="min-width:50px;">15</td>
              <td class="td-view" style="width:70px;">商品</td>
              <td colspan="3">1001387 新鱷魚安心環保粘鼠板2片裝</td>
              <td class="td-view" style="width:70px;">銷售數量</td>
              <td style="min-width:50px;">5</td>
              <td class="td-view" style="width:90px;">銷售金額</td>
              <td style="min-width:50px;">23,456</td>
            </tr>
            <tr>
              <td class="td-view">毛利額</td>
              <td>1345</td>
              <td class="td-view">毛利率</td>
              <td>2.03%</td>
              <td class="td-view">PSD</td>
              <td style="min-width:50px;">121.55</td>
              <td class="td-view" style="width:120px;">下架處理方式</td>
              <td style="min-width:50px;">出清</td>
              <td class="td-view">庫存</td>
              <td>25</td>
              <td class="td-view">預計下架日</td>
              <td>2019/04/30</td>
            </tr>
            <tr>
              <td class="td-view">出清售價</td>
              <td></td>
              <td class="td-view">出清起日</td>
              <td>2019/03/31</td>
              <td class="td-view">出清迄日</td>
              <td>2019/04/30</td>
              <td class="td-view">實銷補到毛利%</td>
              <td>3.02%</td>
              <td class="td-view">實銷補錢</td>
              <td>2222</td>
              <td class="td-view">其他方式</td>
              <td></td>
            </tr>
            <tr>
              <td class="td-view">備註</td>
              <td colspan="11"></td>
            </tr>
            <tr>
              <td class="td-view">留售改<br>善計畫</td>
              <td colspan="11">
                <!--<textarea class="form-control form-control-sm"></textarea>-->
                <div class="text-warning text-small mb-1">
                  <i class="fa fa-clock-o"></i> 2019/03/26 15:23:34</div>
                我要這樣改善加上那樣改善<br>改善改善改善改善改善，改善改善

              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <button type="submit" class="btn btn-primary mr-2">儲存回應</button>
          <button type="button" class="btn btn-outline-secondary">回上一頁</button>
        </div>
      </div>
    </div>
  </form>
</div>