<div class="container">
    <form>
        <div class="card">
            <div class="card-header card-header-view">供應商資料</div>
            <div class="card-body">
                <h5 class="text-warning">主檔資料</h5>
                <table class="table table-bordered table-sm table-view text-small table-responsive-lg">
                    <tr>
                        <td class="td-view" stlye="min-width:100px;">供應商編號</td>
                        <td stlye="min-width:100px;">1265635401</td>
                        <td class="td-view" stlye="min-width:100px;">供應商名稱</td>
                        <td stlye="min-width:100px;">金財通商務科技(股)</td>
                        <td class="td-view text-little" stlye="min-width:100px;">供應商名稱二</td>
                        <td stlye="min-width:100px;">金財通</td>
                    </tr>
                    <tr>
                        <td class="td-view">公司統編</td>
                        <td>12656354</td>
                        <td class="td-view">供應商簡稱</td>
                        <td>金財通</td>
                        <td class="td-view">電話號碼</td>
                        <td>02-87121298</td>
                    </tr>
                    <tr>
                        <td class="td-view">國別</td>
                        <td>台灣</td>
                        <td class="td-view">城市</td>
                        <td>台北</td>
                        <td class="td-view">傳真號碼</td>
                        <td>02-87121298</td>
                    </tr>
                    <tr>
                        <td class="td-view">郵遞區號</td>
                        <td>105</td>
                        <td class="td-view">地址</td>
                        <td>台北市松山區</td>
                        <td class="td-view">地址第二行</td>
                        <td>南京東路三段261號7F</td>
                    </tr>

                    <tr>
                        <td class="td-view">E-Mail</td>
                        <td colspan="3">supplier@bankpro.com.tw</td>
                        <td class="td-view">供應商狀態</td>
                        <td>正常</td>
                    </tr>
                    <tr>
                        <td class="td-view">連絡E-Mail</td>
                        <td colspan="3">supplier@bankpro.com.tw</td>
                        <td class="td-view">連絡人</td>
                        <td>簡小君</td>
                    </tr>
                    <tr>
                        <td class="td-view">連絡E-Mail2</td>
                        <td colspan="3">backup@bankpro.com.tw</td>
                        <td class="td-view">連絡電話</td>
                        <td>02-87121298#555</td>
                    </tr>
                    <tr>
                        <td class="td-view text-little">特殊權限E-Mail</td>
                        <td colspan="3">admin@supplier.com.tw</td>
                        <td class="td-view">認證碼</td>
                        <td>123789</td>
                    </tr>
                    <tr>
                        <td class="td-view">出貨地址一</td>
                        <td colspan="5">台北市南京東路三段261號7F</td>
                    </tr>
                    <tr>
                        <td class="td-view">出貨地址二</td>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td class="td-view">出貨地址三</td>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td class="td-view">出貨地址四</td>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td class="td-view">出貨地址五</td>
                        <td colspan="5"></td>
                    </tr>
                </table>
                <h5 class="text-warning">採購資料</h5>
                <table class="table table-bordered table-sm table-view text-small table-responsive-lg">
                    <tr>
                        <th class="td-view">採購幣別</th>
                        <th class="td-view">最小訂單值</th>
                        <th class="td-view">採購付款條件</th>
                        <th class="td-view">採購群組</th>
                        <th class="td-view">預計交貨天數</th>
                        <th class="td-view">月結/寄售</th>
                        <th class="td-view">送貨方式</th>
                    </tr>
                    <tr>
                        <td>新台幣</td>
                        <td>100</td>
                        <td>現金</td>
                        <td>A01 王小彬</td>
                        <td>5</td>
                        <td>寄售</td>
                        <td>物流供應商</td>
                    </tr>
                </table>
                <h5 class="text-warning">財務資料</h5>
                <table class="table table-bordered table-sm table-view text-small table-responsive-lg">
                    <tr>
                        <th class="td-view" style="min-width:200px;">公司代碼</th>
                        <th class="td-view" style="min-width:200px;">舊供應商編號</th>
                    </tr>
                    <tr>
                        <td>T100 三商家購</td>
                        <td>13578888</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <div class="form-row justify-content-end align-items-center">
                    <button type="submit" class="btn btn-danger mr-2">進行編輯</button>
                    <button type="button" class="btn btn-outline-secondary">回上一頁</button>
                </div>
            </div>
        </div>
    </form>
</div>