<div class="container">
  <form>
    <div class="card">
      <div class="card-header card-header-view">供應商認證碼設定
        <div class="card-header-info d-inline">
          <label><span class="badge">1265635401</span></label>
          <label><span class="badge">金財通商務科技(股)</span></label>
        </div>
      </div>
      <div class="card-body">
        <div class="form-row align-items-center">
          <div class="col-md-2"></div>
          <label class="col-md-2 col-form-label text-right">認證碼</label>
          <div class="col-md-2">
            <input class="form-control form-control-sm" maxlength="10">
          </div>
          <div class="col-md-4 text-little text-success">請輸入6~10碼英文和數字組合之字串</div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-md-2"></div>
          <label class="col-md-2 col-form-label text-right">特殊權限E-Mail</label>
          <div class="col-md-4">
            <input class="form-control form-control-sm" maxlength="50">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-row justify-content-end align-items-center">
          <button type="submit" class="btn btn-danger mr-2">儲存並寄發認證碼</button>
          <button type="button" class="btn btn-outline-secondary">回上一頁</button>
        </div>
      </div>
    </div>
  </form>
</div>