<!--簽核歷程紀錄-->
<!--
    1. 家購人員且單據簽核狀態不為0才可檢視(登入人員Usercategory='I' && 申請單據.SignStatus<>0)
    2. 資料來源：SignLog.Where(SignFlowCode==申請單據.SignFlowCode && AppNo==申請單據.Id) order by CreatedDate Asc
    3. 欄位說明
      時間: SignLog.UpdatedDate
      使用者: SignLog.SignUser join AspNetUser.UserName
      簽核動作: 0:未處理 1:核准 -1:退回 -2:退件重送 -10:作廢
      簽核備註: SignLog.SignMemo
-->
<div class="card mt-3">
  <div class="card-header card-header-sign">
    簽核歷程
    <div class="card-header-info d-inline">
      <label>目前狀態：<span class="badge badge-warning">家購人員簽核中</span></label>
    </div>
  </div>
  <div class="class-body">
    <div class="mx-5 my-3">
      <table class="table table-bordered table-sm">
        <tr>
          <th style="width:180px;">時間</th>
          <th>使用者</th>
          <th>簽核動作</th>
          <th>簽核備註</th>
        </tr>
        <tr>
          <td>2018/12/20 11:12:24</td>
          <td>金財通商務(股)</td>
          <td>送出審核</td>
          <td></td>
        </tr>
        <tr>
          <td>2018/12/21 12:02:20</td>
          <td>張無忌</td>
          <td>退回</td>
          <td>商品名稱錯誤</td>
        </tr>
        <tr>
          <td>2018/12/21 16:56:10</td>
          <td>金財通商務(股)</td>
          <td>退件重送</td>
          <td></td>
        </tr>
        <tr>
          <td>2018/12/21 17:08:33</td>
          <td>張無忌</td>
          <td>核准</td>
          <td></td>
        </tr>
        <tr>
          <td>2018/12/22 09:45:13</td>
          <td>張三豐</td>
          <td>核准</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
