<!--檢視頁檢視內容區塊Footer-->
<!--
    供應商登入 or 家購人員自己的單據且未送簽
    登入人員.UserCategory='S' || (單據.ApplyUser=登入帳號 && 單據.SignStatus=0)
-->
<div class="card-footer">
  <div class="row align-items-center">
    <div class="col-auto mr-auto"><label class="mb-0">目前狀態：<span class="badge badge-warning">家購人員簽核中</span></label></div>
    <div class="col-auto d-inline form-row ">
      <!--
          單據為退件或作廢狀態才顯示退件/作廢重送按鈕
          SignStatus IN (-10, -20)
      -->
      <button type="submit" value="儲存" class="btn btn-danger mr-2">退件/作廢重送</button>
      <!--
          單據為未送簽狀態才顯示編輯按鈕
          SignStatus=0
      -->
      <button type="submit" value="儲存" class="btn btn-danger mr-2">進行編輯</button>
      <button type="button" class="btn btn-default">回上一頁</button>
    </div>
  </div>
</div>
